@import url('https://fonts.googleapis.com/css?family=Bree+Serif|News+Cycle');
/* font-family: 'Bree Serif', serif;
font-family: 'Scada', sans-serif;
font-family: 'News Cycle', sans-serif;
*/

* {
  padding: 0;
  margin: 0;
  font-family: 'Bree Serif', serif;
}

:root {
  --color: linear-gradient(to right top, #09574b, #155d52, #1e6458, #266a5f, #2e7166);
}

h2,
h4,
td,
th {
  color: #09574b;
}

h1,
h2,
h3,
h4,
th {
  font-family: 'Bree Serif', serif;
}

td,
p,
span {
  font-family: 'News Cycle', sans-serif;
}

nav {
  display: flex;
  font-family: 'Bree Serif', serif;
  width: 100%;
  height: 60px;
  background: #358679;
  align-items: center;
  border-bottom: 1px solid #09574b;
  position: sticky;
  top: 0;
  z-index: 5;
}

.logo {
  display: flex;
  width: 40%;
  font-size: 32px;
  box-sizing: border-box;
  padding-left: 2%;
  color: #09574b;
}

.logo h1 a {
  text-decoration: none;
  color: #f7f6f1;
  cursor: pointer;
  padding-left: 44px;
}

.logo img {
  width: 52px;
  height: 58px;
  padding-top: 6px;
  position: absolute;
}

.search {
  width: 30%;
}

i.fas.fa-search {
  color: #fff;
  font-size: 16px;
}

/* style for election container */
.container {
  display: flex;
  background: #ffffff;
  width: 100%;
  min-height: 82vh;
}

.sidebar {
  width: 250px;
  box-sizing: border-box;
  color: white;
  padding-top: 39px;
  padding-left: 5px;
  background-image: var(--color);
}

.sidebar ul {
  list-style: none;
  margin-top: 20px;
  margin-right: 20px;
}

.sidebar ul li {
  margin-bottom: 18px;
  cursor: pointer;
  transition: 300ms;
  border-radius: 4px;
  border: 1px solid white;
}

.sidebar ul li a {
  padding: 12px 15px 12px 15px;
}

.sidebar ul li:hover {
  background-color: #358679;
}

.sidebar ul li.active {
  border: none;
  background: #358679;

}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  padding: 12px 15px 12px 15px;
  display: block;
}

.nav-profile {
  width: 30%;
  display: flex;
  justify-content: center;
}

nav .nav-profile img {
  width: 50px;
  border-radius: 50%;
  position: relative;
}

.nav-profile h4 {
  padding-top: 18px;
  color: #fff;
  padding-left: 10px;
}

input.search-input {
  background: transparent;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid white;
  padding-left: 5px;
  padding-right: 15px;
  color: white;
}

input::placeholder {
  color: white !important;
}

.election-container {
  width: 100%;
  margin: 0 auto;
  background: #f4eeee;
}

.election-details {
  width: 90%;
  margin: 0 auto;
  background: white;
  text-align: left;
}

.election-office {
  width: 100%;
  margin: 0 auto;
  border: 1px solid #09574b;
  margin-top: 12px;
}

.election-office {
  border-collapse: separate !important;
  border-spacing: 0;
  border-radius: 5px;
  box-shadow: 0px 2px 0px 2px #1a615545;

}

.election-office td,
.election-office th {
  padding: 8px;
  border-bottom: 1px solid #09574b;
  text-transform: capitalize;
}

.election-office td span {
  color: #a8eb12;
}
.election-office td a {
  color: #09574b;
  font-family: 'News Cycle', sans-serif;

}
td button, .request-action button {
  width: 80px;
  text-align: center;
  color: white;
  transition: background, 300ms;
  outline: none;
  border-radius: 5px;
  height: 27px;
  font-size: 13px;
  cursor: pointer;
  text-transform: capitalize;
}
.request-action button {
  margin-top: 10px;
}
.view-manifesto {
  text-decoration: underline;
  cursor: pointer;
}

.view-manifesto:hover {
color: #0e8170;
}
.view-manifesto:active {
  position: relative;
  top: 1px;
}
#request {
  text-align: center;
}
td button:active {
  position: relative;
  top: 1px;
}
 #accept {
  margin-right: 5px;
  background: #155d52;
  border: 1px solid currentColor;
}
#accept:hover {
  background: #218879;
}
#reject {
  margin-left: 5px;
  background: crimson;
  border: 1px solid currentColor;
}
#reject:hover {
  background: rgb(216, 47, 81);
}
td:nth-child(1)>img {
  width: 70px;
}

td span {
  padding-left: 3px;
  cursor: pointer;
}
td span:active {
  position: relative;
  top: 1px;
}

.election-office td a:hover {
  color: #eee764;
}

.pagination {
  width: 95%;
  box-sizing: border-box;
}

/* pagination */
.pagination a {
  float: right;
  margin-top: 10px;
  text-decoration: none;
  color: #09574b;
  transition: background-color 300ms;
  margin-right: 5px;
  outline: none;
  border: 1px solid #09574b;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 5px;
  vertical-align: middle;
  box-sizing: border-box;
  width: 40px;
  height: 35px;
  margin-bottom: 30px;
  background: white;
}

.pagination a .fas {
  border: none;
  font-size: 20px;
}

.box-one {
  height: 74px;
  background: #f8f8f9;
  display: flex;
  margin: 20px auto 0px;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

}

.box-one h2 {
  text-transform: uppercase;
  margin-left: 5%;
  width: 50%;
  margin-left: 10%;
  text-transform: uppercase;
}

.create-party-button {
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  box-shadow: 0px 10px 14px -7px #09574b;
  text-decoration: none;
  text-shadow: 0px 1px 0px #3d768a;
  color: #09574b;
  padding: 13px 20px;
  margin-left: 50px;
  text-align: center;
  font-weight: bold;
  border: 1px solid #09574b;
  text-transform: uppercase;
  transition: 300ms;
  background: white;
  font-size: 16px;
}

.create-party-button:active {
  position: relative;
  top: 1px;
}

.create-party-button:hover {
  background: #09574b;
  color: #fff;
}

.create-party {
  margin-left: 20px;
  width: 50%;
  display: flex;
  justify-content: center;
}

* {
  padding: 0;
  margin: 0;
}

.editPartyModal, .deletePartyModal, .party-modal {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.manifesto-modal {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.manifesto-content {
  border-radius: 4px;
  width: 450px;
  height: 400px;
  position: relative;
  margin: 9% auto;
  box-sizing: border-box;
  background: linear-gradient(#fff, #999);
  background: linear-gradient(#fff, #999);
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}
.manifesto-details {
  height: 400px;
  overflow: auto;
}
.manifesto-details h2 {
  width: 100%;
  position: sticky;
  top: 0;
  text-align: center;
  background: linear-gradient(#fff, #999);
}
.manifesto-details p {
  margin-top: 10px;
  padding-left: 10px;
  text-align: left;
}
.modal-content {
  border-radius: 4px;
  width: 600px;
  position: relative;
  margin: 10% auto;
  box-sizing: border-box;
  background: linear-gradient(#fff, #999);
  background: linear-gradient(#fff, #999);
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}

.modal-content label {
  display: block;
  width: 100%;
  padding-bottom: 10px;
  text-transform: uppercase;
  margin-left: 10px;
}

.modal-content input {
  width: 95%;
  box-sizing: border-box;
  height: 53px;
  margin-bottom: 20px;
  border-radius: 4px;
  outline: none;
  padding-left: 10px;
  margin-left: 10px;
  border: 2px solid #09574b;
  font-size: 16px;
}

edit-modal h2, .modal-content h2 {
  text-align: center;
  padding-top: 20px;
  margin-left: 25%;
  padding-bottom: 15px;
}

.modal-content input[type='file'] {
  width: 95%;
  box-sizing: border-box;
  height: 50px;
  border: 1px solid black;
  padding-top: 10px;
  background: #ffff;
  border: 2px solid #09574b;
}

.inputgroup select {
  width: 95%;
  height: 40px;
  font-size: 15px;
  padding-left: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
}
#logoUrl {
  display: none;
}
#imagePreview {
  border-radius: 4px;
  width: 100px;
  height: 100px;
  outline: none;
  padding: 0;
}
.imagePreview {
  text-align: center;
}
.modal-content button {
  width: 50%;
  height: 50px;
  color: white;
  margin-bottom: 20px;
  border-radius: 4px;
  outline: none;
  margin-left: 25%;
  font-size: 16px;
  border: 1px solid #09574b;
  background: #09574b;
  text-transform: capitalize;
  transition: 300ms;
  cursor: pointer;
}

.modal-content button:hover {
  background: #1d4d45;
}

.close {
  background: #606061;
  color: white;
  line-height: 25px;
  position: absolute;
  right: -12px;
  top: -10px;
  width: 24px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  border-radius: 12px;
  box-shadow: 1px 1px 3px #000;
  cursor: pointer;
  z-index: 1;
}

.close:hover {
  background: #09574b;
}

i.far.fa-trash-alt {
  background: rgba(228, 38, 38, 0.925);
  padding: 4px;
  color: white;
  border-radius: 3px;
  font-size: 14px;
}

i.far.fa-edit {
  background: #09574b;
  padding: 4px;
  color: white;
  border-radius: 3px;
  font-size: 14px;
}

.close:hover {
  background-color: #09574b;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/* style for the footer */
footer {
  border-top: 1px solid #09574b;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4eeee;
  color: #09574b;
}

.dropdown-content {
  position: absolute;
  min-width: 100px;
  z-index: 1;
  background: var(--color);
  border-radius: 4px;
  display: none;
  border: 1px solid #09574b;
  margin-top: 10px;
}

.dropdown-content a {
  display: block;
  text-decoration: none;
  padding: 9px 16px;
  color: #fff;
  min-width: 100px;
  cursor: pointer;
}

.dropdown-content a:hover {
  color: #eee764;
}

.dropdown-content::before {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0d8";
  top: -18px;
  left: 30px;
  right: 0;
  bottom: 0;
  color: #155d52;
  font-size: 27px;
  width: 100%;
  height: 10px;
}

/* mobile nav */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: var(--color);
  transition: 0.5s;
  padding-top: 60px;
  overflow-x: hidden;
}

.sidenav a {
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  transition: 0.3s;
  box-sizing: border-box;
  padding-left: 5px;
  padding: 12px 15px 12px 15px;
}

.sidenav a:hover {
  color: #eee764;
}

.sidenav .closebtn {
  position: absolute;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: white;
}

.mobile-nav {
  font-size: 35px;
  cursor: pointer;
  display: none;
}

.mobile-profile {
  padding: 12px 15px 12px 15px;
}

.mobile-profile h4 {
  color: white;
  font-size: 18px
}

#profile-img {
  width: 43px;
  border-radius: 50%;
  margin-left: 10px;
}

a.active {
  background: #13423a;
}

.mobile-view {
  margin-top: 30px;
  display: none;
  background: #f4eeee;
}

.party-card {
  box-shadow: 0px 2px 6px 1px #1a61550f,
    1px 0px 2px 1px #1a61550a;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 3%;
  margin-bottom: 20px;
  color: #09574b;
  background: #fff;
}

.mobile-view .party-logo img,
.mobile-view .candidate-img img {
  width: 80px;
  height: 80px;
}
.party-card h3 {
  text-transform: capitalize;
}
td.result img {
  width: 60px;
  border-radius: 50px;
}

.party-action span {
  padding-right: 5px;
}

#err {
  padding: 2%;
  display: block;
  text-align: left;
  background: #ffffff70;
  display: none;
  width: 86%;
  margin: auto;
  border-radius: 5px;
}

#success {
  padding: 2%;
  display: block;
  text-align: left;
  display: none;
  width: 86%;
  margin: auto;
  border-radius: 5px;
  color: #09574b;
  font-size: 18px;
  font-weight: 900;
  background: #ffffff70;
}

#err li {
  font-size: 16px;
}

div#err p {
  color: rgba(255, 0, 0, 0.87);
}
#spinner:not([hidden]) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
}

#spinner::after {
content: "";
width: 60px;
height: 60px;
border: 2px solid #f3f3f3;
border-top: 3px solid #20665a;
border-radius: 100%;
will-change: transform;
animation: spin 1s infinite linear
}
/*css code for edit name modal */
.edit-modal input {
  width: 90%;
  box-sizing: border-box;
  height: 53px;
  margin-bottom: 20px;
  border-radius: 4px;
  outline: none;
  padding-left: 10px;
  border: 2px solid #09574b;
  font-size: 16px;

}
.edit-modal {
  padding-top: 1px;
  width: 400px;
  border-radius: 4px;
  position: relative;
  margin: 15% auto;
  box-sizing: border-box;
  background: linear-gradient(#fff, #999);
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
}
.edit-modal button {
  width: 30%;
  height: 40px;
  color: white;
  margin-bottom: 20px;
  border-radius: 4px;
  outline: none;
  font-size: 16px;
  border: 1px solid #09574b;
  background: #09574b;
  text-transform: capitalize;
  transition: 300ms;
  cursor: pointer;
}
.edit-modal button:hover {
  background: #277467;
  border: 1px solid #277467;
}
.edit-modal button:active {
  position: relative;
  top: 1px;
}
.edit-modal h2, .edit-modal h3 {
  color: #09574b;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.modal-actions {
  text-align: center;
  display: flex;
  justify-content: space-around;
}
.inputName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}
button::-moz-focus-inner {
  border: 0;
}
@keyframes spin {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(360deg);
}
}

@media (max-width : 590px) {
  .desktop-view {
    display: none;
  }

  .mobile-view {
    display: block;
  }
}

@media (max-width:700px) {
  .nav-profile {
    display: none;
  }

  .sidebar {
    display: none;
  }

  .mobile-nav {
    display: block;
    margin-left: 30px;
    color: #fff;
    width: 30%;
  }

  .logo img {
    width: 41px;
    height: 43px;
    padding-top: 10px;
    position: absolute;
  }

  .logo {
    font-size: 27px;
    width: 70%;
    padding: 0;
  }

  .logo h1 a {
    padding-left: 35px;
    font-size: 36px;
  }

  input.search-input {
    margin-bottom: 20px;
    margin-left: 12px;

  }

  nav {
    justify-content: space-around;
  }

  .election-details {
    width: 85%;
    margin-top: 20px;
  }

  .create-party-button {
    width: 100%;
    color: #09574b;
    margin-left: 0px;
    margin-right: 20px;
    font-size: 14px;
    padding: 7px;
  }

  .box-one h2 {
    width: 90%;
    font-size: 18px;
    margin-left: 5%;
  }

  .manifesto-content, .modal-content {
    width: 90%;
    margin: 25% auto;
  }
  .edit-modal{
    width: 90%;
    margin: 33% auto;
  }
.search {
  display: none;
}
}


@media (width: 1024px) {
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .container {
    min-height: 92vh;
  }

  .box-one h2 {
    font-size: 20px;
  }
}

@media (width: 768px) {
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .container {
    min-height: 88vh;
  }

  .box-one h2 {
    font-size: 20px;
  }
}