@import url('https://fonts.googleapis.com/css?family=Bree+Serif|News+Cycle');
/* font-family: 'Bree Serif', serif;
font-family: 'Scada', sans-serif;
font-family: 'News Cycle', sans-serif;
*/

* {
  padding: 0;
  margin: 0;
}

:root {
  --color: linear-gradient(to right top, #09574b, #155d52, #1e6458, #266a5f, #2e7166);
}

h2,
h4,
td,
th {
  color: #09574b;
}

h1,
h2,
h3,
h4,
th {
  font-family: 'Bree Serif', serif;
}

td,
p,
span {
  font-family: 'News Cycle', sans-serif;
}

nav {
  display: flex;
  font-family: 'Bree Serif', serif;
  width: 100%;
  height: 60px;
  background: #358679;
  align-items: center;
  border-bottom: 1px solid #09574b;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 5;
}

.logo {
  display: flex;
  width: 40%;
  font-size: 32px;
  box-sizing: border-box;
  padding-left: 2%;
  color: #09574b;
}

.logo h1 a {
  text-decoration: none;
  color: #f7f6f1;
  cursor: pointer;
  padding-left: 44px;
}

.logo img {
  width: 52px;
  height: 58px;
  padding-top: 6px;
  position: absolute;
}
.search {
  width: 30%;
}
i.fas.fa-search {
  color: #fff;
}
/* style for election container */
.container {
  display: flex;
  background: #ffffff;
  min-height: 82vh;
  background: #f4eeee;
}

.sidebar {
  width: 250px;
  box-sizing: border-box;
  color: white;
  padding-top: 39px;
  padding-left: 5px;
  background-image: var(--color);
  font-family: 'Bree Serif', serif;
}

.sidebar ul {
  list-style: none;
  margin-top: 20px;
  margin-right: 20px;
}

.sidebar ul li {
  border: 1px solid white;
  margin-bottom: 20px;
  cursor: pointer;
  transition: 300ms;
  border-radius: 4px;
}

.sidebar ul li:hover {
  background-color: #358679;
}

.sidebar ul li.active {
  border: none;
  background: #358679;

}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  padding: 12px 15px 12px 15px;
  display: block;
}

.nav-profile {
  width: 30%;
  display: flex;
  justify-content: center;
}

nav .nav-profile img {
  width: 50px;
  border-radius: 50%;
  position: relative;
}

.nav-profile h4 {
  padding-top: 18px;
  color: #f7f6f1;
  padding-left: 10px;
}

input.search-input {
  background: transparent;
  outline: 0;
  border: 1px solid transparent;
  border-bottom: 1px solid white;
  padding-left: 5px;
  padding-right: 20px;
  color: white;
  width: 100px;
  transition: all 400ms ease-in-out;
}

input.search-input:focus {
  width: 160px;
}

input::placeholder {
  color: white !important;
}

.election-container {
  width: 100%;
  margin: 0 auto;
  background: #f4eeee;
  padding-bottom: 50px;
}

.election-container h2 {
  padding-top: 35px;
  text-transform: uppercase;
  margin-left: 5%;
  text-align: center;
}

.election-details {
  width: 90%;
  margin: 0 auto;
  background: white;
  text-align: left;
}

.election-office {
  width: 100%;
  margin: 0 auto;
  border: 1px solid #09574b;
  margin-top: 12px;
}

.election-office {
  border-collapse: separate !important;
  border-spacing: 0;
  border-radius: 5px;
  box-shadow: 0px 2px 0px 2px #1a615545;

}

.election-office td,
.election-office th {
  padding: 8px;
  border-bottom: 1px solid #09574b;
  text-transform: capitalize;
}

.election-office td a {
  color: #09574b;
}

.election-office td a:hover {
  color: #eee764;
}

/* pagination */
.pagination {
  width: 95%;
  box-sizing: border-box;
}

.pagination a {
  float: right;
  margin-top: 10px;
  text-decoration: none;
  color: #09574b;
  transition: background-color 300ms;
  margin-right: 5px;
  outline: none;
  border: 1px solid #09574b;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 5px;
  vertical-align: middle;
  box-sizing: border-box;
  width: 40px;
  height: 35px;
  margin-bottom: 30px;
  background: white;
}

.pagination a .fas {
  border: none;
  font-size: 20px;
}

/* style for the footer */
footer {
  border-top: 1px solid #09574b;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4eeee;
  color: #09574b;
}

td.party-logo>img {
  width: 70px;
}
td:nth-child(1)>img {
  width: 70px;
}
.dropdown-content {
  position: absolute;
  min-width: 100px;
  z-index: 1;
  background: var(--color);
  border-radius: 4px;
  display: none;
  border: 1px solid #09574b;
  margin-top: 10px;
}

.dropdown-content a {
  display: block;
  text-decoration: none;
  padding: 9px 16px;
  color: #fff;
  min-width: 100px;
  cursor: pointer;
}

.dropdown-content a:hover {
  color: #eee764;
}

.dropdown-content::before {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f0d8";
  top: -18px;
  left: 30px;
  right: 0;
  bottom: 0;
  color: #155d52;
  font-size: 27px;
  width: 100%;
  height: 10px;
}

/* mobile nav */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: var(--color);
  transition: 0.5s;
  padding-top: 60px;
  overflow-x: hidden;
}

.sidenav a {
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  transition: 0.3s;
  box-sizing: border-box;
  padding-left: 5px;
  padding: 12px 15px 12px 15px;
  font-family: 'Bree Serif', serif;
}

.sidenav a:hover {
  color: #eee764;
}

.sidenav .closebtn {
  position: absolute;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: white;
}

.mobile-nav {
  font-size: 35px;
  cursor: pointer;
  display: none;
}

.mobile-profile {
  padding: 12px 15px 12px 15px;
}

.mobile-profile h4 {
  color: white;
  font-size: 18px
}
td.result img {
  width: 60px;
  border-radius: 50px;
}
#profile-img {
  width: 40px;
  border-radius: 50%;
  margin-left: 10px;
}

a.active {
  background: #13423a;
}
.mobile-view {
  margin-top: 30px;
  display: none;
  background: #f4eeee;
}
.vote::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f164";
}
.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
}
.party-card {
  box-shadow: 0px 2px 6px 1px #1a61550f,
              1px 0px 2px 1px #1a61550a;
  width: 83%;
  margin: 0 auto;
  text-align: center;
  padding: 3%;
  margin-bottom: 20px;
  color: #09574b;
  background-color: #fff;
}

.mobile-view .candidate-img img {
  width: 80px;
  height: 80px;
}
#spinner:not([hidden]) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
}

#spinner::after {
content: "";
width: 60px;
height: 60px;
border: 2px solid #f3f3f3;
border-top: 3px solid #20665a;
border-radius: 100%;
will-change: transform;
animation: spin 1s infinite linear
}

@keyframes spin {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(360deg);
}
}
button::-moz-focus-inner {
  border: 0;
}
@media (max-width : 450px) {
  .desktop-view {
    display: none;
  }

  .mobile-view {
    display: block;
  }
}

@media (max-width:700px) {
  .nav-profile {
    display: none;
  }
  .search {
    display: none;
  }
  .sidebar {
    display: none;
  }

  .mobile-nav {
    display: block;
    margin-left: 30px;
    color: #f7f6f1;
    width: 30%;
    margin-right: 7px;
  }

  .logo img {
    width: 41px;
    height: 43px;
    padding-top: 10px;
    position: absolute;
  }

  .logo {
    font-size: 27px;
    width: 70%;
    padding: 0;
  }

  .logo h1 a {
    padding-left: 35px;
    font-size: 36px;
  }

  input.search-input {
    margin-bottom: 20px;
    margin-left: 12px;

  }

  nav {
    justify-content: space-around;
  }

  .election-details {
    width: 85%;
  }
}
@media (width: 1024px) {
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .container {
    min-height: 92vh;
  }
}
@media (width: 768px){
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .container {
    min-height: 88vh;
  }
}